<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sniff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DCFB30D1D86AFDD00C3D3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DCFB3251D86AFDD00C3D3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DCFB3301D86AFDD00C3D3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
